@import "mixins";

* {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
  
  html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

    //1rem=10px
    font-size: 62.5%; 

    @include respond(tab-land){
        font-size: 56.25%; //w <1200px
    }

    @include respond(tab-port){
        font-size: 50%; //w <900px
    }

    @include respond(big-desktop){
        font-size: 75%; //w >1800px
    }
  }

body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	overflow-x: hidden;
    transition: all 200ms linear;
}

.green{

    height: 10px;
    background-color: #3BD4AE;
    width: 100%;
    
}
.black{

    height: 10px;
    background-color: #000;
    width: 100%;
}


/* #Navigation
================================================== */

.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 10px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 5px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 28px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: -1rem;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar{
  padding: 1rem 6rem;
  
  @include respond(phone){
    padding: 1rem 1rem;
    z-index: 1500;
  }
}
.navbar-brand img{
	height: 2rem;
	width: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #3BD4AE !important;
}





.nav-item.active .nav-link{
	color: #3BD4AE !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
  display: inline-block;

}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #3BD4AE;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
    /*@include respond (phone){
      text-align: center;
    }*/
    img{
        width: 3rem;
        height: 3rem;
        margin-top: -1rem;
        
        @include respond (phone){
          display: none;
        }
    }
    
}



/////////////////////////////
// SLAJDER

#vslider {
  height: 100vh;
  width: 100%;
  position: relative;
  //margin-top: 5rem;
  font-family: sans-serif;
  
}

#vslidernav{
  position: absolute;
  left: 2%;
  top: 40%;
  transform: translateY(-40%);
  z-index: 99;
}

#vslidernav ul {
  list-style: none;
  padding: 0;
  @include respond(phone){
    display: none;
  }
}

#vslidernav ul a {
  padding: 0;
  cursor: pointer;
}
#vslidernav ul a li {
  height: 50px;
  width: 50px;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

#vslidernav ul a.active-number > li{
  background: url("../img/active-number.png") center center no-repeat;
  background-position: -11px -7px;
  z-index: 9999999;
  color: #fff;
  display: inline-block;
}


#vsliderboxes {
  position : relative;
  overflow : hidden;
}
#vsliderboxes div {
  height: 100vh;
  width: 100%;
}
#vsliderboxs-inner {
  position : relative;
  height: 100vh;
  width: 100%;
}

#box1,#box2,#box3,#box4{
  //background-color: wheat;

  .boks{
      display: flex;
      @include respond(tab-port){
        flex-direction: column;
      }
      &__levo{
        position: relative;
        padding: 25rem 15rem;
        flex: 0 0 40%;
        //margin-top: 10rem;
        width: 100%;

        @include respond(tab-port){
          padding: 0;
          margin-top: 8rem;
          margin-left: 16rem;
        }
        @include respond(phone){
          margin-left: 5rem;
        }
        h1{
          font-size: 10rem;
          font-weight: 700;
          position: relative;
          z-index: 1;
          word-break: break-word;
          width: 50rem;
          @include respond(phone){
            //z-index: 1000;
          }
        }
        p{
          font-weight: 600;
          margin-top: 3rem;
          width: 40rem;
          @include respond(tab-land){
            width: 35rem;
          }
          @include respond(phone){
            display: none;
          }
        }
        span{
          position: absolute;
          color: #3BD4AE;
        }
        #strelica{
          font-size: 3rem;
          color: black;
          margin-top: 3rem;
          @include respond(tab-port){
            display: none;
          }
        }
      }
      &__levo-photo{
        width: 25rem;
        position: absolute;
        top: 25rem;
        animation: fleka .3s;
        @include respond(tab-port){
          top: 0;
        }
      }
      &__levo-munja{
        width: 90%;
        position: absolute;
        //top: 25rem;
        top: 1rem;
        margin-left: 19rem;
        animation: munjaseva .1s infinite;
        //z-index: 10000;
        z-index: 2000;
        @include respond(big-desktop){
          margin-left: 16rem;
          width: 80%;
        }
        @include respond(desktop){
          margin-left: 16rem;
          width: 70%;
        }
        @include respond(tab-land){
          margin-left: 18rem;
        }
        @include respond(tab-port){
         // width: 70%;
          //margin-left: 20rem;

          width: 42%;
          margin-left: 29rem;
        
        }
        @include respond(phone){
          width: 60%;
          height: 100%;
          margin-left: 6rem;
          margin-top: -7rem;
        }
        
      }
      &__desno{
        flex: 1;
        position: relative;
        margin-top: 10rem;

        @include respond(tab-port){
          margin-top: -2rem;
        }
        @include respond(phone){
          margin-top: -12rem;
        }
        img{
          width: 100%;
          position: absolute;
          right: 0;
          z-index: 500;

          @include respond(desktop){
            width: 120%;
            margin-top: 10rem;
          }

          @include respond(tab-port){
            width: 60%;
            right: 20%;
          }
          @include respond(phone){
            width: 100%;
            right: 0;
            margin-left: 5rem;
          }
        }
      }
    }
  }



  @keyframes munjaseva{
    0%{
      opacity: 0;
    }

    100%{
      opacity: 1;
    }
  }

  @keyframes fleka{
    0% {
      width: 1rem;
      height: 1rem;
      opacity: 0;
  }
  20%{
    width: 5rem;
    height: 5rem;
    opacity: 20%;
  }
  40%{
    width: 10rem;
    opacity: 40%;
  }
  60%{
    width: 15rem;
    opacity: 60%;
  }
  80%{
    width: 20rem;
    opacity: 80%;
  }
  100% {
    width: 25rem;
    opacity: 100%;

  }
  }

/*#box2{
 // background-color: silver;
 .boks{
  display: flex;
  @include respond(tab-port){
    flex-direction: column;
  }
  &__levo{
    position: relative;
    padding: 25rem 15rem;
    flex: 0 0 40%;
    //margin-top: 10rem;
    h1{
      font-size: 10rem;
      font-weight: 700;
      position: relative;
      z-index: 1;
      word-break: break-word;
          width: 50rem;
    }
    p{
      font-weight: 600;
      margin-top: 3rem;

    }
    span{
      position: absolute;
      color: #3BD4AE;
    }
    #strelica{
      font-size: 3rem;
      color: black;
      margin-top: 3rem;
    }
  }
  &__levo-photo{
    width: 25rem;
    position: absolute;
    top: 25rem;
  }
  &__desno{
    flex: 1;
    position: relative;
    margin-top: 10rem;
    img{
      width: 90%;
      position: absolute;
      right: 0;
      @include respond(tab-port){
        width: 60%;
        right: 20%;
      }
    }
  }
}
}

#box3{
  .boks{
    display: flex;
    @include respond(tab-port){
      flex-direction: column;
    }
    &__levo{
      position: relative;
      padding: 25rem 15rem;
      flex: 0 0 40%;
      //margin-top: 10rem;
      h1{
        font-size: 10rem;
        font-weight: 700;
        position: relative;
        z-index: 1;
        word-break: break-word;
          width: 50rem;
      }
      p{
        font-weight: 600;
        margin-top: 3rem;

      }
      span{
        position: absolute;
        color: #3BD4AE;
      }
      #strelica{
        font-size: 3rem;
        color: black;
        margin-top: 3rem;
      }
    }
    &__levo-photo{
      width: 25rem;
      position: absolute;
      top: 25rem;
    }
    &__desno{
      flex: 1;
      position: relative;
      margin-top: 10rem;
      img{
        width: 90%;
        position: absolute;
        right: 0;
        @include respond(tab-port){
          width: 60%;
          right: 20%;
        }
      }
    }
}
}

#box4{
  //background-color: darkturquoise;
  .boks{
    display: flex;
    @include respond(tab-port){
      flex-direction: column;
    }
    &__levo{
      position: relative;
      padding: 25rem 15rem;
      flex: 0 0 40%;
      //margin-top: 10rem;
      h1{
        font-size: 10rem;
        font-weight: 700;
        position: relative;
        z-index: 1;
        word-break: break-word;
          width: 50rem;
      }
      p{
        font-weight: 600;
        margin-top: 3rem;

      }
      span{
        position: absolute;
        color: #3BD4AE;
      }
      #strelica{
        font-size: 3rem;
        color: black;
        margin-top: 3rem;
      }
    }
    &__levo-photo{
      width: 25rem;
      position: absolute;
      top: 25rem;
    }


    &__desno{
      flex: 1;
      position: relative;
      margin-top: 10rem;
      img{
        width: 90%;
        position: absolute;
        right: 0;
        @include respond(tab-port){
          width: 60%;
          right: 20%;
        }
      }
    }
}
}*/


.services{
  //padding: 5rem;
  width: 80%;
  margin: auto;
  @include respond(tab-port){
    margin-top: 5rem;
  }
  @include respond(phone){
    width: 100%;
  }
}

.novired{
  padding-top: 5rem;
}
.bokss{
  &:nth-child(4){
    @include respond(tab-port){
      padding-top: 5rem;
    }
  }
  &:nth-child(1){
    @include respond(tab-port){
      padding-top: 5rem;
    }
  }
  @include respond(big-desktop){
    center{
      text-align: left !important;
    }
  }
  @include respond(desktop){
    center{
      text-align: left !important;
    }
  }
  @include respond(tab-manji){
    center{
      text-align: center !important;
    }
  }
  h1{
    font-size: 1.6rem;
    font-weight: 700;
    @include respond (tab-manji){
      text-align: center;
    }
  }
  p{
    font-size: 1.4rem;
    margin-top: 2rem;
    
  }
  p:not(:first-child){
    @include respond (tab-manji){
      text-align: center;
    }
  }
  img{
    @include respond (phone){
          
      margin-left: 8rem;
    }
  }
  p:not(:first-child){
    //width: 30rem;
  }

  .boxservice{
    width: 21rem;
    word-break: break-word;
    line-height: .9;
    position: relative;
    margin-left: 3rem;
    @include respond (tab-manji){
      width: 25rem;
      margin: auto;
    }
    @include respond (phone){
      width: 25rem;
      //margin-left: 7rem;
    }
      p{
        font-size: 8rem;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        @include respond (phone){
          display: none;
        }
      }
      #phonep{
        display: none;
        @include respond (phone){
          display: block;
        }
      }
      img{
        position: absolute;
        top: 3rem;
        @include respond(desktop){
          width: 25rem;
        }
        @include respond(tab-land){
          width: 20rem;
          top: 5rem;
        }
        
      }
  }
}

.ideas{
  margin-top: 10rem;
  //height: 60vh;
  //background-color: blue;
  background-image: url("../img/fleka.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100rem;
  padding: 20rem;
  font-family: sans-serif;
  @include respond(tab-port){
    padding: 10rem;
  }
  @include respond (tab-manji){
    padding-left: 25rem;
  }
  @include respond (tab-manji){
    padding-left: 20rem;
  }
  @include respond (phone){
    padding-left: 10rem;
  }
  
  .left{
    margin-top: 15rem;
    
    @include respond(phone){
      margin-top: 8rem;
    }
    p{
      font-size: 10rem;
      color: #fff;
      //margin-top: 20rem;
      word-break: break-word ;
      width: 50rem;
      line-height: 1;
      text-transform: uppercase;
      font-weight: 700;

      @include respond(tab-land){
        font-size: 8rem;
        margin-top: 5rem;
      }
      @include respond(phone){
        font-size: 5rem;
        width: 30rem;
      }
      
      
    }
  }

  .right{
    margin-top: 20rem;
    color: #fff;
    position: relative;
    @include respond (tab-manji){
      margin-top: 1rem;
    }
    @include respond(phone){
      margin-top: 1rem;
    }
    p{
      font-size: 1.6rem;
      width: 60rem;
      @include respond(tab-port){
        width: 50rem;
      }
      @include respond(phone){
        width: 30rem;
      }
    }

    a{
      color: white;
      position: absolute;
      top: 3rem;
      left: 3rem;
    }
    .button{
      position: relative;
    }
  }
}

.ideas1{
  height: 100vh;
}